<!-- student_confirm_delete.html -->

{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">Delete Student</h2>
    <p>Are you sure you want to delete student "{{ student.user.get_full_name }}"?</p>
    <form method="post" action="{% url 'student_delete' pk=student.pk %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Delete</button>
        <a href="{% url 'student_detail' student.user.id %}" class="btn btn-secondary">Cancel</a>
    </form>
    <a href="{% url 'student_list' %}" class="btn btn-secondary">Cancel</a>
  </div>
{% endblock %}
