# System files
.DS_Store
*.pyc
__pycache__/
*.dbmdl
*.jfm
*.log

# Python environments
lsa_env/
.venv/
.env

# Git
.git/
.gitignore

# IDEs and tools
.vscode/
.vs/
.classpath
.project
.settings/
.toolstarget

# Docker and deployment
.dockerignore
docker-compose*
compose.y*ml
Dockerfile*
secrets.dev.yaml
values.dev.yaml

# Node.js
node_modules/
npm-debug.log

# Build artifacts
bin/
obj/
charts/
*.csproj.user

# Docs
LICENSE
README.md
*.pyc
