asgiref==3.7.2
Brotli==1.1.0
cffi==1.17.1
chardet==5.2.0
crispy-bootstrap5==2024.2
cssselect2==0.7.0
Django==5.0.1
django-crispy-forms==2.3
fonttools==4.54.1
pillow==10.4.0
pycparser==2.22
pydyf==0.11.0
pyphen==0.15.0
reportlab==4.2.5
sqlparse==0.4.4
tinycss2==1.4.0
tinyhtml5==2.0.0
tzdata==2023.4
webencodings==0.5.1
zopfli==0.2.3.post1
