{% extends "base.html" %}
{% block content %}
<div class="container mt-4">
    <div class="card text-center">
        <div class="card-header">Submission Complete</div>
        <div class="card-body">
            <h5 class="card-title">You have used all available attempts for the assessment:</h5>
            <p><strong>{{ assessment.title }}</strong></p>
            {% if latest_attempt %}
                <p class="card-text">Your score for your last attempt was <strong>{{ latest_attempt.score }}</strong>.</p>
            {% endif %}
            <p>If you need to retake this, please contact your teacher.</p>
                {% if request.user.student %}
                    <a href="{% url 'student_dashboard' %}" class="btn btn-primary">Back to Dashboard</a>
                {% elif request.user.guardian %}
                    <a href="{% url 'guardian_dashboard' %}" class="btn btn-success">Back to Dashboard</a>
                {% endif %}
        </div>
    </div>
</div>
{% endblock %}