<!-- teacher_confirm_delete.html -->

{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
  <h2 class="mb-4">Delete Teacher</h2>
  <p>Are you sure you want to delete teacher "{{ teacher.user.get_full_name }}"?</p>
  <form method="post" action="{% url 'teacher_delete' pk=teacher.pk %}">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger">Delete</button>
      <a href="{% url 'teacher_detail' teacher.user.id %}" class="btn btn-secondary">Cancel</a>
  </form>
  <a href="{% url 'teacher_list' %}" class="btn btn-secondary">Cancel</a>
</div>
{% endblock %}
