{% load static humanize message_filters %}

<div class="accordion" id="academics-accordion-{{ student.id }}">
    <!-- Assignments -->
    <div class="accordion-item">
        <h2 class="accordion-header"><button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-assign-{{ student.id }}">Assignments</button></h2>
        <div id="collapse-assign-{{ student.id }}" class="accordion-collapse collapse show" data-bs-parent="#academics-accordion-{{ student.id }}">
            <div class="accordion-body">
                {% with student_assignments=assignments_data|get_item:student.user.id %}
                    {% include 'guardian/partials/_assignment_details.html' with assignments=student_assignments student=student %}
                {% endwith %}
            </div>
        </div>
    </div>
    <!-- Assessments -->
    <div class="accordion-item">
        <h2 class="accordion-header"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-assess-{{ student.id }}">Assessments</button></h2>
        <div id="collapse-assess-{{ student.id }}" class="accordion-collapse collapse" data-bs-parent="#academics-accordion-{{ student.id }}">
            <div class="accordion-body">
                {% with student_assessments=assessments_data|get_iterable_item:student.user.id %}
                    {% include 'guardian/partials/_assessment_exam_details.html' with items=student_assessments student=student type='assessment' %}
                {% endwith %}
            </div>
        </div>
    </div>
    <!-- Exams -->
    <div class="accordion-item">
        <h2 class="accordion-header"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-exam-{{ student.id }}">Exams</button></h2>
        <div id="collapse-exam-{{ student.id }}" class="accordion-collapse collapse" data-bs-parent="#academics-accordion-{{ student.id }}">
            <div class="accordion-body">
                {% with student_exams=exams_data|get_iterable_item:student.user.id %}
                     {% include 'guardian/partials/_assessment_exam_details.html' with items=student_exams student=student type='exam' %}
                {% endwith %}
            </div>
        </div>
    </div>
</div>